extends layout

block content
    style(type="text/css").
        #player {
            margin: 0 auto;
        }

        .movie {
          cursor : pointer;
        }

    .container(ng-controller="videoLoader")
      h1= title
      p Welcome to #{title}


      video.text-center#player(ng-hide="loadedVideo === undefined", ng-src="{{loadedVideo.url}}", controls)

      pre
        code {{videos}}

      pre(ng-hide="loadedVideo === undefined")
        code {{loadedVideo}}

      form.form-inline(action='', method='POST', role='form')
        .form-group
          label.sr-only(for='') label
          input#torrentAddress.form-control(type='text', placeholder='Torrent address')
        button.btn.btn-primary(type='submit') Valider

      ul.list-group
          li.list-group-item(ng-repeat="video in videos track by $index")
            span.video-name
                a.movie(title="{{video.name}}", ng-click="load(video.url, video.name)") {{video.name}}
